doctype html
html
    head
        title Sync Player 
        if useExternalStyles
            link(rel='stylesheet', href='/build/application.css')
            
    body
        h1 Hello, World
        script(src='/build/vendor.js')
        script(src='/build/application.js')
